erp-parent/.project
erp-parent/erp-infra/.project
erp-parent/erp-infra/.settings/org.eclipse.core.resources.prefs
erp-parent/erp-infra/.settings/org.eclipse.jdt.core.prefs
erp-parent/erp-infra/.settings/org.eclipse.m2e.core.prefs
erp-parent/erp-model/.project
erp-parent/erp-model/target/classes/META-INF/MANIFEST.MF
erp-parent/erp-model/target/classes/activejdbc_models.properties
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Configuracao.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Credencial.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/CredencialPapel.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Departamento.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Empresa.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Funcionalidade.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Funcionario.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Menu.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Papel.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/ParametroGlobal.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Permissao.class
erp-parent/erp-model/target/erp-model-0.0.1-SNAPSHOT.jar
erp-parent/erp-model/target/maven-archiver/pom.properties
erp-parent/erp-model/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
erp-parent/erp-model/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
erp-parent/erp-model/target/test-classes/activejdbc_models.properties
erp-parent/erp-infra/target/classes/META-INF/MANIFEST.MF
erp-parent/erp-infra/target/classes/META-INF/maven/br.com.fabriciocs.erp.infra/erp-infra/pom.properties
erp-parent/erp-infra/target/classes/META-INF/maven/br.com.fabriciocs.erp.infra/erp-infra/pom.xml
erp-parent/erp-infra/target/erp-infra-0.0.1-SNAPSHOT.jar
erp-parent/erp-infra/target/maven-archiver/pom.properties
erp-parent/erp-model/.gitignore
erp-parent/erp-model/.settings/org.eclipse.jdt.core.prefs
erp-parent/erp-model/.settings/org.eclipse.wst.common.project.facet.core.xml
erp-parent/erp-view/.settings/org.eclipse.jdt.core.prefs
erp-parent/erp-view/.settings/org.eclipse.wst.common.project.facet.core.xml
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/config/web/filter/AuthenticationSuccessHandler$NoRedirectStrategy.class
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/config/web/filter/AuthenticationSuccessHandler.class
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/config/web/filter/MyAuthenticationFilter.class
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/config/web/filter/MyPermissionEvaluator.class
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/config/web/filter/MyUserDetailsImpl.class
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/config/web/filter/OpenTransactionInView.class
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/controller/ConfigCtrl.class
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/controller/CredencialCtrl.class
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/controller/DepartamentoCtrl.class
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/controller/EmpresaCtrl.class
erp-parent/erp-view/target/classes/br/com/fabriciocs/erp/view/controller/PaginationResult.class
erp-parent/erp-view/target/classes/logback.xml
erp-parent/erp-view/target/m2e-wtp/web-resources/META-INF/maven/br.com.fabriciocs.erp.view/erp-view/pom.properties
erp-parent/erp-view/target/m2e-wtp/web-resources/META-INF/maven/br.com.fabriciocs.erp.view/erp-view/pom.xml
erp-parent/erp-view/target/test-classes/br/com/fabriciocs/erp/view/controller/CredencialTest.class
erp-parent/erp-view/target/test-classes/db/init-schema.sql
erp-parent/erp-view/target/test-classes/db/jdbc.properties
erp-parent/erp-view/target/test-classes/logback-test.xml
erp-parent/erp-model/target/
