erp-parent/.project
erp-parent/erp-infra/.project
erp-parent/erp-infra/.settings/org.eclipse.core.resources.prefs
erp-parent/erp-infra/.settings/org.eclipse.jdt.core.prefs
erp-parent/erp-infra/.settings/org.eclipse.m2e.core.prefs
erp-parent/erp-model/.project
erp-parent/erp-model/target/classes/META-INF/MANIFEST.MF
erp-parent/erp-model/target/classes/activejdbc_models.properties
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Configuracao.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Credencial.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/CredencialPapel.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Departamento.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Empresa.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Funcionalidade.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Funcionario.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Menu.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Papel.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/ParametroGlobal.class
erp-parent/erp-model/target/classes/br/com/fabriciocs/erp/model/entity/Permissao.class
erp-parent/erp-model/target/erp-model-0.0.1-SNAPSHOT.jar
erp-parent/erp-model/target/maven-archiver/pom.properties
erp-parent/erp-model/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
erp-parent/erp-model/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
erp-parent/erp-model/target/test-classes/activejdbc_models.properties
erp-parent/erp-view/target/test-classes/db/init-schema.sql
erp-parent/erp-view/target/m2e-wtp/web-resources/META-INF/maven/br.com.fabriciocs.erp.view/erp-view/pom.xml
erp-parent/erp-model/.settings/
erp-parent/erp-infra/target/
erp-parent/erp-view/.settings/
